<!doctype html>
<html class="no-js" lang="">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Image Style Transfer</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/flexslider.css">
<link rel="stylesheet" href="../static/css/jquery.fancybox.css">
<link rel="stylesheet" href="../static/css/main.css">
<link rel="stylesheet" href="../static/css/responsive.css">
<link rel="stylesheet" href="../static/css/animate.min.css">
<link rel="stylesheet" href="../static/css/font-icon.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<!-- header top section -->
<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix">
      <a class="logo" href="{{ url_for('index',_external=True) }}">
        <img src="../static/images/sys/logo.png" alt="">
      </a>
    </div>
  </header>
</section>
<!-- header top section -->  
<!-- portfolio grid section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="section">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 portfolio-item"> <a href="{{ url_for('uploadImage',style='cubist',_external=True) }}" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Cubist</h3>
          </div>
        </div>
        <img src="../static/images/style/cubist.jpg" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="{{ url_for('uploadImage',style='denoised_starry',_external=True) }}" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Denoised Starry</h3>
          </div>
        </div>
        <img src="../static/images/style/denoised_starry.jpg" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="{{ url_for('uploadImage',style='feathers',_external=True) }}" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Feathers</h3>
          </div>
        </div>
        <img src="../static/images/style/feathers.jpg" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="{{ url_for('uploadImage',style='mosaic',_external=True) }}" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Mosaic</h3>
          </div>
        </div>
        <img src="../static/images/style/mosaic.jpg" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="{{ url_for('uploadImage',style='painting',_external=True) }}" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Painting</h3>
          </div>
        </div>
        <img src="../static/images/style/painting.jpg" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="{{ url_for('uploadImage',style='scream',_external=True) }}" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Scream</h3>
          </div>
        </div>
        <img src="../static/images/style/scream.jpg" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="{{ url_for('uploadImage',style='udnie',_external=True) }}" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Udnie</h3>
          </div>
        </div>
        <img src="../static/images/style/udnie.jpg" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a href="{{ url_for('uploadImage',style='wave',_external=True) }}" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Wave</h3>
          </div>
        </div>
        <img src="../static/images/style/wave.jpg" class="img-responsive" alt=""> </a> </div>
    </div>
  </div>
</section>
<!-- footer section -->
<footer class="footer">
  <div class="container">
    <div class="col-md-12">
      <p>Copyright©2017 ChaiBo
      </p>
    </div>
  </div>
</footer>
<!-- footer section --> 
<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.fancybox.pack.js"></script>
<script src="../static/js/retina.min.js"></script>
<script src="../static/js/modernizr.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>